@import 'fonts.less';
@import 'settings.less';

body {
  font-family: 'PT Sans', sans-serif;
  min-width: 360px;
  max-width: 1920px;
}

.container {
  max-width: 328px;

  @media @desktop {
    max-width: 1600px;
  }
}
