@import 'normalize.less';
@import 'fonts.less';
@import 'settings.less';

@menu-bg: #000a06;
@white: #fff;
@accent-color: #ffd426;
@text-color: #363636;
@light-green: #51b800;
@green: #158400;
@orange: #ee8f00;
@input-placheholder-color: #ababab;
@input-text-color: #646464;
@checkbox-color: #c4c4c480;

body {
  font-family: 'PT Sans', sans-serif;
  min-width: 360px;
  color: @text-color;

  background-image: url('../img/promo-mobile.webp');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100% 640px;

  @media (min-width: 620px) {
    background-image: url('../img/promo.webp');
  }

  @media @desktop-large {
    background-size: 1920px auto;
  }
}

.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @media @desktop {
    max-width: 1000px;
  }

  @media @desktop-large {
    max-width: 1600px;
    padding-left: 0;
    padding-right: 0;
  }
}

.title-h2 {
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 130%;
  font-weight: 700;
  color: @accent-color;

  @media @desktop-large {
    font-size: 36px;
  }
}

.main-header {
  padding: 15px;
  min-height: 395px;

  @media @desktop-large {
    min-height: auto;
    margin-bottom: 400px;
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}

.burger-menu,
.button-cart {
  padding: 0;
  border: 0;
  background-color: transparent;
  z-index: 10;
  grid-row: 1 / 2;
}

.burger-menu {
  padding: 10px 8px;
  justify-self: start;
  align-self: start;
  grid-column: 1 / 2;

  @media @desktop {
    display: none;
  }
}

.button-cart {
  padding: 7px 9px;
  justify-self: end;
  align-self: start;
  grid-column: 3 / 4;

  @media @desktop {
    place-self: center center;

    & img {
      width: 30px;
    }
  }
}

.logo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @media @desktop {
    grid-column: 1 / 2;
  }
}

.main-site-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;

  @media @desktop {
    grid-template-columns: auto 1fr auto;
  }
}

.main-nav-list {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: @menu-bg;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
  display: none;
  list-style: none;

  @media @desktop {
    grid-column: 2 / 3;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    padding-left: 90px;
  }

  &__item:not(:last-child) {
    margin-bottom: 25px;

    @media @desktop {
      margin-bottom: 0;
      margin-right: 30px;
    }

    @media @desktop-large {
      margin-right: 56px;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: @white;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}

.promo {
  margin-bottom: 130px;

  @media @desktop-large {
    margin-bottom: 360px;
  }

  &__button {
    display: block;
    background-color: transparent;
    padding: 0;
    border: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: @accent-color;
    text-align: left;

    @media @desktop-large {
      font-size: 40px;
      line-height: 130%;
      padding-right: 40px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: 7px;
        right: 0;
        background-image: url('../img/icon-cursor-click.svg');
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  &__text {
    font-size: 20px;
    line-height: 130%;
    color: @white;
    max-width: 270px;

    @media @desktop-large {
      font-size: 28px;
      line-height: 130%;
      min-width: 520px;
    }
  }
}

.about {
  margin-bottom: 65px;

  @media @desktop-large {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;

    &__title {
      grid-column: span 2;
      margin-bottom: 64px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 150%;

    @media @desktop-large {
      max-width: 780px;
      font-size: 32px;
      margin-top: 0;
    }
  }

  &__text-small {
    line-height: 150%;

    @media @desktop-large {
      max-width: 380px;
      font-size: 24px;
      margin-top: 0;
    }
  }
}

.services {
  margin-bottom: 64px;

  @media @desktop {
    margin-bottom: 160px;
  }

  &__title {
    margin-bottom: 32px;

    @media @desktop-large {
      margin-bottom: 64px;
    }
  }

  &__list {
    .reset-list();
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    gap: 32px;
    justify-content: center;

    @media @desktop-large {
      grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
      gap: 64px 32px;
    }
  }

  &__element {
    margin: 0;
  }

  &__element-title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 150%;

    @media @desktop-large {
      font-size: 24px;
    }
  }

  &__img {
    margin-bottom: 16px;

    @media @desktop-large {
      margin-bottom: 24px;
    }
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    color: @light-green;
    border: 2px solid @light-green;
    box-sizing: border-box;
    border-radius: 95px;
    padding: 11px 22px;
    margin-right: 2px;
    margin-bottom: 5px;

    @media @desktop-large {
      margin-right: 24px;
      font-size: 16px;
      padding: 17px 42px;
      color: @green;
      border: 2px solid @green;
    }
  }

  &__link-orange-border {
    border-color: @orange;
    color: @orange;
    margin-right: 0;

    @media @desktop-large {
      color: @orange;
      border: 2px solid @orange;
    }
  }
}

.reviews {
  margin-bottom: 64px;

  @media @desktop-large {
    margin-bottom: 160px;
  }

  &__title {
    margin-bottom: 32px;

    @media @desktop-large {
      margin-bottom: 95px;
    }
  }

  &__quote {
    margin: 0;
  }

  &__list {
    .reset-list();
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
    gap: 50px;
  }

  &__user {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    font-style: normal;
  }

  &__time {
    display: block;
    margin-bottom: 24px;

    @media @desktop {
      margin-bottom: 32px;
    }
  }

  &__img {
    max-width: 200px;
    height: auto;
    margin-bottom: 24px;

    @media @desktop-large {
      max-width: 240px;
    }
  }

  &__text {
    margin-top: 0;
    line-height: 150%;
    max-width: 375px;
  }
}

.main-footer {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: @green;

  @media @desktop-large {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.logo-footer {
  width: 205px;

  @media @desktop {
    width: 275px;
  }
}

.footer-grid {
  display: grid;
  gap: 32px;

  @media (min-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
  }

  @media (min-width: 1632px) {
    gap: 22px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: start;
  }
}

.footer__nav-list {
  .reset-list();

  @media @desktop-large {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 16px;

  @media @desktop-large {
    margin-bottom: 32px;
  }
}

.footer__nav-link {
  line-height: 150%;
  text-transform: uppercase;
  color: @white;
  text-decoration: none;
}

.subscribe {
  @media @desktop-large {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }
}

.subscribe fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
}

.subscribe legend {
  text-transform: uppercase;
  color: @white;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
}

.subscribe__email {
  font-size: 14px;
  line-height: 150%;
  border: 0;
  padding: 0;
  background-color: transparent;
  margin-bottom: 32px;
  border-bottom: 1px solid @input-placheholder-color;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 8px;

  &::placeholder {
    color: @input-placheholder-color;
  }
}

.subscribe-button {
  background-color: @green;
  color: @white;
  border: 1px solid @white;
  width: min-content;
  border-radius: 95px;
  padding: 14px 57px;
}

.footer__contacts-list {
  .reset-list();
}

.footer__contacts-item {
  margin-bottom: 16px;

  @media @desktop-large {
    margin-bottom: 32px;
  }
}

.footer__contacts-link {
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  line-height: 150%;

  @media @desktop-large {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
}

.button-footer-subscribe {
  padding: 0;
  border: 0;
  text-transform: uppercase;
  color: @white;
  line-height: 150%;
  background-color: transparent;
}

.social-list {
  .reset-list();
  display: flex;
  flex-wrap: wrap;
}

.social-item:not(:last-child) {
  margin-right: 24px;
}

.popup-window {
  width: 100%;
  position: fixed;
  top: 160px;
  padding: 48px 16px;
  z-index: 100;
  background-color: @white;

  @media (min-width: 600px) {
    left: 50%;
    transform: translateX(-50%);
    max-width: 574px;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
  }
}

.poput__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: @light-green;
}

.contacts-form__row {
  margin-top: 0;
  margin-bottom: 24px;
}

.contacts-form__input {
  width: 100%;
  font-size: 16px;
  line-height: 130%;
  color: @input-text-color;
  padding: 10px 18px;
  border: 1px solid #c4c4c480;
}

.contacts-form__input::placeholder {
  color: @input-placheholder-color;
}

.contacts-form__date-block {
  display: flex;
  align-items: center;
}

.contacts-form__date-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url('../img/icon-calendar.svg');
  background-repeat: no-repeat;
}

.contacts-form__date-output {
  color: @input-text-color;
  font-size: 14px;
  line-height: 130%;
  margin: 0;
}

.contacts-form__row_date-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
}

.contacts-form__input_calendar {
  position: absolute;
  left: -141px;
  top: 0;
  opacity: 0;
}

.contact-form__button {
  display: block;
  margin: 0 auto;
  width: 228px;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: @orange;
  border: 2px solid @orange;
  border-radius: 95px;

  @media @desktop {
    width: 272px;
  }
}

.contacts-form__row_checkbox {
  position: relative;
}

.contacts-form_checkbox {
  opacity: 0;
}

.contacts-form_checkbox:checked + .custom-checkbox::before {
  opacity: 1;
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid @checkbox-color;
  position: absolute;
  left: 0;
  top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: @checkbox-color;
  opacity: 0;
}

.privacy-text {
  padding-left: 40px;
  font-size: 12px;
  line-height: 150%;
  color: @input-text-color;

  @media (min-width: 450px) {
    padding-top: 4px;
  }

  @media @desktop {
    padding-left: 35px;
  }
}

.link-to-privacy-page {
  font-size: 12px;
  line-height: 150%;
  color: @orange;
}

.checkbox-label {
  display: flex;
}

.contacts-form__close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 28px;
  color: @input-text-color;
  line-height: 28px;
}

.show {
  display: block;
}
